# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: CrabSO
email:
description: >- # this means to ignore newlines until "baseurl:"
  CrabSO is a Division B Science Olympiad invitational tournament in Maryland. CrabSO was created to give Division B competitors another invitational to compete at before their regional and/or state competitions. CrabSO also provides Marylanders with an addition option for in-state competitions. CrabSO is part of Chesapeake Stem Connections, a 501(c)(3) registered Maryland based nonprofit dedicated to supporting up and coming middle school Science Olympiad teams in Maryland. All proceeds from CrabSO are being processed by Chesapeake Stem Connections and will be reinvested back into Chesapeake Stem Connections endeavors such as financially supporting Maryland teams, providing workshops, and funding future in-person competitions.
twitter_username: 
github_username: 
minimal_mistakes_skin: default
search: true

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
# Outputting
url: "https://crabscioly-org.github.io"
timezone: US/Eastern

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   : "CrabSO"
  avatar : "/assets/images/crabso.png"
  bio    : "bottom text"
  links:
    - label: "Scilympiad"
      icon: "fas fa-fw fa-link"
      url: "https://scilympiad.com/crabso"

footer:
  links:
    - label: "Scilympiad"
      icon: "fas fa-fw fa-link"
      url: "https://scilympiad.com/crabso"
    - label: "Instagram"
      icon: "fab fa-fw fa-instagram"
      url: "https://instagram.com/crab.so"
